#jinja2: trim_blocks:False
[[ ansible_managed | comment ]]

# General configuration
datacenter = "[[ _consul_datacenter ]]"
data_dir = "/opt/consul"
encrypt = "[[ _consul_encrypt_string ]]"
log_level = "WARN"
{%- if not consul_server %}
enable_local_script_checks = true
{%- endif %}

# Network configuration
bind_addr = "{{ GetInterfaceIP \"[[ _consul_ipv4_iface ]]\" }}"

client_addr = "[[ _consul_client_addr ]] {{ GetInterfaceIP \"[[ _consul_ipv4_iface ]]\" }}"
{%- endif %}
retry_join = [
{%- for server in _consul_retry_join %}
  "[[ server ]]"{% if not loop.last %},
{%- endif %}
{%- endfor %}
]

ports {
  http = 8500
{%- if consul_tls %}
  https = 8501
{%- endif %}
{%- if consul_grpc %}
  grpc = 8502
{%- endif %}
}

{% if consul_dns %}
# DNS config
dns_config {
  allow_stale = true
  node_ttl = "1m"
  use_cache = true
  cache_max_age = "10s"
  soa {
    expire = 43200
    min_ttl = 30
    refresh = 1800
    retry = 300
  }
}
{% endif %}

# Telemetry configuration
telemetry {
  disable_hostname = true
  prometheus_retention_time = "24h"
}
