#jinja2: trim_blocks:False
{{ ansible_managed | comment }}
{%- if consul_server %}
verify_incoming = true
{% else %}
verify_incoming = false
{%- endif %}
verify_outgoing = true
verify_server_hostname = true

ca_file = "/etc/ssl/certs/consul.crt"
cert_file = "/opt/consul/agent-certs/agent.crt"
key_file = "/opt/consul/agent-certs/agent.key"
