{{- with secret "[[ _ctpl_consul_vault_pki_engine ]]/issue/[[ _ctpl_consul_vault_pki_role ]]" "common_name=[[ _ctpl_consul_vault_pki_cn ]]" "alt_names=[[ _ctpl_consul_vault_pki_sans ]]" "ip_sans=[[ _ctpl_consul_vault_pki_ip_sans ]]" "ttl=24h" }}
{{- .Data.private_key }}{{ end }}
