{{- with secret "[[ consul_ctpl_vault_pki_engine ]]/issue/[[ consul_ctpl_vault_pki_role ]]" "common_name=[[ consul_ctpl_vault_pki_cn ]]" "alt_names=[[ consul_ctpl_vault_pki_sans | join(',') ]]" "ip_sans=[[ consul_client_addr | join(',') ]]" "ttl=24h" }}
{{- .Data.private_key }}{{ end }}
